# Local work folders that is not checked in
/_*/

.*
!.actrc
!.markdownlint.yaml
!.markdownlintignore
!.editorconfig
!.git*

# Eclipse
/bin
/*/bin
!**/.classpath
!**/.settings/
**/.settings/*
!**/.settings/org.eclipse.core.resources.prefs
!**/.settings/org.eclipse.jdt.core.prefs
!**/.settings/org.eclipse.jdt.ui.prefs
!**/.settings/org.eclipse.pde.core.prefs

# Maven
!**/.mvn/
target/

# Vim
*.swo
*.swp

# patch
*.orig
*.rej
