# Local work folder that is not checked in
_LOCAL/

# Eclipse
/bin
/*/bin
**/.settings/*
!**/.settings/org.eclipse.core.resources.prefs
!**/.settings/org.eclipse.jdt.core.prefs
!**/.settings/org.eclipse.jdt.ui.prefs
!**/.settings/org.eclipse.pde.core.prefs
.pydevproject
.tycho-consumer-pom.xml

# Eclipse GFM Viewer
*.md.html

# Maven
target/

# OSX
.DS_Store

# Vim
*.swo
*.swp
