.emphasis { font-style: italic; }
.strong { font-weight: bold; }
.header { color: rgb(0, 0, 128); }
.comment { color: rgb(96, 139, 78); }
.constant.language { color: rgb(86, 156, 214); }
.constant.numeric { color: rgb(181, 206, 168); }
.constant.regexp { color: rgb(100, 102, 149); }
.constant.rgb-value { color: rgb(212, 212, 212); }
.entity.name.tag { color: rgb(86, 156, 214); }
.entity.name.tag.css { color: rgb(215, 186, 125); }
.entity.name.selector { color: rgb(215, 186, 125); }
.entity.other.attribute-name { color: rgb(156, 220, 254); }
.entity.other.attribute-name.css { color: rgb(215, 186, 125); }
.invalid { color: rgb(244, 71, 71); }
.markup.underline { text-decoration: underline; }
.markup.bold { font-weight: bold; color: rgb(86, 156, 214); }
.markup.heading { font-weight: bold; color: rgb(86, 156, 214); }
.markup.italic { font-style: italic; }
.markup.inserted { color: rgb(181, 206, 168); }
.markup.deleted { color: rgb(206, 145, 120); }
.markup.changed { color: rgb(86, 156, 214); }
.markup.punctuation.quote.beginning { color: rgb(96, 139, 78); }
.markup.punctuation.list.beginning { color: rgb(103, 150, 230); }
.markup.inline.raw { color: rgb(206, 145, 120); }
.meta.selector { color: rgb(215, 186, 125); }
.punctuation.definition.tag { color: rgb(128, 128, 128); }
.meta.preprocessor { color: rgb(86, 156, 214); }
.meta.preprocessor.string { color: rgb(206, 145, 120); }
.meta.preprocessor.numeric { color: rgb(181, 206, 168); }
.meta.structure.dictionary.key.python { color: rgb(156, 220, 254); }
.meta.header.diff { color: rgb(86, 156, 214); }
.storage { color: rgb(86, 156, 214); }
.storage.type { color: rgb(86, 156, 214); }
.storage.modifier { color: rgb(86, 156, 214); }
.string { color: rgb(206, 145, 120); }
.string.tag { color: rgb(206, 145, 120); }
.string.value { color: rgb(206, 145, 120); }
.string.regexp { color: rgb(209, 105, 105); }
.support.type.property-name { color: rgb(156, 220, 254); }
.keyword { color: rgb(86, 156, 214); }
.keyword.control.less { color: rgb(215, 186, 125); }
.keyword.operator { color: rgb(212, 212, 212); }
.keyword.operator.new { color: rgb(86, 156, 214); }
.keyword.operator.expression { color: rgb(86, 156, 214); }
.keyword.other.unit { color: rgb(181, 206, 168); }
.metatag.php { color: rgb(86, 156, 214); }
.support.function.git-rebase { color: rgb(156, 220, 254); }
.constant.sha.git-rebase { color: rgb(181, 206, 168); }
.storage.modifier.import.java { color: rgb(212, 212, 212); }
.storage.modifier.package.java { color: rgb(212, 212, 212); }
.variable.language { color: rgb(86, 156, 214); }
.entity.name.function { color: rgb(220, 220, 170); }
.support.function { color: rgb(220, 220, 170); }
.meta.return-type { color: rgb(78, 201, 176); }
.support.class { color: rgb(78, 201, 176); }
.support.type { color: rgb(78, 201, 176); }
.entity.name.type { color: rgb(78, 201, 176); }
.storage.type.cs { color: rgb(78, 201, 176); }
.storage.type.java { color: rgb(78, 201, 176); }
.meta.return.type { color: rgb(78, 201, 176); }
.meta.type.cast.expr { color: rgb(78, 201, 176); }
.meta.type.new.expr { color: rgb(78, 201, 176); }
.support.constant.math { color: rgb(78, 201, 176); }
.support.constant.dom { color: rgb(78, 201, 176); }
.support.constant.json { color: rgb(78, 201, 176); }
.keyword.control { color: rgb(197, 134, 192); }
.variable.parameter { color: rgb(156, 220, 254); }
.variable { color: rgb(156, 220, 254); }
.variable.name { color: rgb(156, 220, 254); }
.support.variable { color: rgb(156, 220, 254); }
.object-literal.member.key { color: rgb(156, 220, 254); }
.support.property-value { color: rgb(206, 145, 120); }
.constant.rgb-value { color: rgb(206, 145, 120); }
.support.property-value.scss { color: rgb(206, 145, 120); }
.constant.rgb-value.scss { color: rgb(206, 145, 120); }
.entity.name.function.tag { color: rgb(86, 156, 214); }

.editor { background-color: rgb(30, 30, 30); color: rgb(212, 212, 212); }
.editor.lineHighlight  {background-color:  rgb(40, 40, 40); }
.editor.selection {}
/**.editor.selection { background-color: rgba(73, 72, 62, 0.5); }**/