.comment { color: rgb(117, 113, 94); }
.string { color: rgb(230, 219, 116); }
.constant.numeric { color: rgb(174, 129, 255); }
.constant.language { color: rgb(174, 129, 255); }
.constant.character { color: rgb(174, 129, 255); }
.constant.other { color: rgb(174, 129, 255); }
.variable {  }
.keyword { color: rgb(249, 38, 114); }
.storage { color: rgb(249, 38, 114); }
.storage.type { font-style: italic; color: rgb(102, 217, 239); }
.entity.name.type { text-decoration: underline; color: rgb(166, 226, 46); }
.entity.name.class { text-decoration: underline; color: rgb(166, 226, 46); }
.entity.other.inherited-class { font-style: italic; text-decoration: underline; color: rgb(166, 226, 46); }
.entity.name.function { color: rgb(166, 226, 46); }
.variable.parameter { font-style: italic; color: rgb(253, 151, 31); }
.entity.name.tag { color: rgb(249, 38, 114); }
.entity.other.attribute-name { color: rgb(166, 226, 46); }
.support.function { color: rgb(102, 217, 239); }
.support.constant { color: rgb(102, 217, 239); }
.support.type { font-style: italic; color: rgb(102, 217, 239); }
.support.class { font-style: italic; color: rgb(102, 217, 239); }
.support.other.variable {  }
.invalid { color: rgb(248, 248, 240); }
.invalid.deprecated { color: rgb(248, 248, 240); }
.meta.structure.dictionary.json.string.quoted.double.json { color: rgb(207, 207, 194); }
.meta.diff { color: rgb(117, 113, 94); }
.meta.diff.header { color: rgb(117, 113, 94); }
.markup.deleted { color: rgb(249, 38, 114); }
.markup.inserted { color: rgb(166, 226, 46); }
.markup.changed { color: rgb(230, 219, 116); }
.constant.numeric.line-number.find-in-files.match { color: rgb(174, 129, 255, 0.63); }
.entity.name.filename.find-in-files { color: rgb(230, 219, 116); }
.markup.quote { color: rgb(249, 38, 114); }
.markup.list { color: rgb(230, 219, 116); }
.markup.bold { color: rgb(102, 217, 239); }
.markup.italic { color: rgb(102, 217, 239); }
.markup.inline.raw { color: rgb(253, 151, 31); }
.markup.heading { color: rgb(166, 226, 46); }
.markup.heading.setext { color: rgb(166, 226, 46); }

.editor { background-color: rgb(39, 40, 34); color: rgb(248,248,242); }
.editor.lineHighlight { background-color: rgb(62, 61, 50); }
.editor.selection {}
/**.editor.selection { background-color: rgba(73, 72, 62, 0.5); }**/