.comment { color: rgb(147, 161, 161); }
.string { color: rgb(42, 161, 152); }
.string.regexp { color: rgb(211, 1, 2); }
.constant.numeric { color: rgb(211, 54, 130); }
.variable.language { color: rgb(38, 139, 210); }
.variable.other { color: rgb(38, 139, 210); }
.keyword { color: rgb(133, 153, 0); }
.storage { font-weight: bold; color: rgb(7, 54, 66); }
.entity.name.class { color: rgb(38, 139, 210); }
.entity.name.type.class { color: rgb(38, 139, 210); }
.entity.name.function { color: rgb(38, 139, 210); }
.punctuation.definition.variable { color: rgb(133, 153, 0); }
.punctuation.section.embedded.begin { color: rgb(211, 1, 2); }
.punctuation.section.embedded.end { color: rgb(211, 1, 2); }
.constant.language { color: rgb(181, 137, 0); }
.meta.preprocessor { color: rgb(181, 137, 0); }
.support.function.construct { color: rgb(211, 1, 2); }
.keyword.other.new { color: rgb(211, 1, 2); }
.constant.character { color: rgb(203, 75, 22); }
.constant.other { color: rgb(203, 75, 22); }
.entity.other.inherited-class {  }
.variable.parameter {  }
.entity.name.tag { color: rgb(38, 139, 210); }
.punctuation.definition.tag.begin { color: rgb(147, 161, 161); }
.punctuation.definition.tag.end { color: rgb(147, 161, 161); }
.entity.other.attribute-name { color: rgb(147, 161, 161); }
.support.function { color: rgb(38, 139, 210); }
.punctuation.separator.continuation { color: rgb(211, 1, 2); }
.support.constant {  }
.support.type { color: rgb(133, 153, 0); }
.support.class { color: rgb(133, 153, 0); }
.support.type.exception { color: rgb(203, 75, 22); }
.support.other.variable {  }
.invalid {  }
.markup.quote { font-style: italic; color: rgb(133, 153, 0); }
.markup.list { color: rgb(181, 137, 0); }
.markup.bold { font-weight: bold; color: rgb(211, 54, 130); }
.markup.italic { font-style: italic; color: rgb(211, 54, 130); }
.markup.inline.raw { font-family: monospace; font-style: normal; color: rgb(42, 161, 152); }
.markup.raw { font-family: monospace; font-style: normal; color: rgb(42, 161, 152); }
.markup.heading { font-weight: bold; color: rgb(38, 139, 210); }
.markup.heading.setext { color: rgb(38, 139, 210); }
.markup.strikethrough { text-decoration: line-through; }

.editor { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
.editor.lineHighlight  {background-color:  rgb(232, 242, 254); }
.editor.selection {}

/*.editor { background-color: rgb(253, 246, 227); color: rgb(0, 0, 0); }
.editor.lineHighlight  {background-color:  rgb(238, 232, 213); }*/