# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax
name: Markdown Lint

on:  # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows
  push:
    branches-ignore:  # build all branches except:
    - 'dependabot/**'  # prevent GHA triggered twice (once for commit to the branch and once for opening/syncing the PR)
    tags-ignore:  # don't build tags
    - '**'
    paths:
    - '**/*.md'
  pull_request:
    paths:
    - '**/*.md'
  workflow_dispatch:
    # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#workflow_dispatch


defaults:
  run:
    shell: bash


jobs:

  ###########################################################
  markdown_lint:
  ###########################################################

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: "Show: GitHub context"
      env:
        GITHUB_CONTEXT: ${{ toJSON(github) }}
      run: echo $GITHUB_CONTEXT


    - name: "Show: environment variables"
      run: env | sort


    - name: Git Checkout
      uses: actions/checkout@v6  # https://github.com/actions/checkout


    - name: "Install: Node"
      uses: actions/setup-node@v6
      with:
        node-version: lts/*


    - name: Install markdownlint-cli
      run: npm install -g markdownlint-cli


    - name: Run markdownlint
      run: markdownlint "**/*.md"
